* {
  font-family: 'Fredericka the Great', cursive;
  line-height: 1.618em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  margin-top: 2.5em;
  color: ivory;
  background: url(../../images/Chalkboard.jpg) no-repeat center center fixed;
  background-size: cover;
 
}

.donuts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-size: x-large;
}

.donuts div {
  padding: .5em 2em;
  text-size-adjust: large;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 3em;
}

.research {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.autoClickers {
  padding: 2em;
  font-size: x-large;
}

.donutMultipliers {
  padding: 2em;
  font-size: x-large;
}


.donutButton {
 background: url(../../images/Transparent.png) no-repeat center center fixed;
 background-size: cover;
 padding: 1em;
 cursor: pointer;
}

.autoClickerButton {
  border: 2px solid ivory;
  background: url(../../images/Transparent.png) no-repeat center center fixed;
  background-size: cover;
  /* background-color: #000000; */
  color: ivory;
  padding: 1em;
  cursor: pointer;
}

.donutMultiplierButton {
  border: 2px solid ivory;
  background: url(../../images/Transparent.png) no-repeat center center fixed;
  background-size: cover;
  /* background-color: #000000; */
  color: ivory;
  padding: 1em;
  cursor: pointer;
}

.gameResetButton {
 border: none;
 background-color: #000000;
 color: ivory;
 padding: 1em;
 cursor: pointer;
}

.w3-button:hover {
  background-color: #2b2e30;
}

.donutButton:hover {
  background-color: #000000;
}

.gameResetButton:hover {
  background-color: #2b2e30;
}

footer {
  display: flex;
  align-self: flex-end;
  margin-top: 3em;
  margin-bottom: 1em;
  color: ivory;
  padding: 1em 0;
  text-align: center;
}

.w3-container {
  display: flex;
  flex-direction: column;
  font-size: large;
  margin-top: 2.5em;
  color: ivory;
  background: url(../../images/Chalkboard.jpg) no-repeat center center fixed;
  background-size: cover;
  padding: 2em;
  align-items: center;
 
}

.w3-container p{
  padding-bottom: 2em;
}

.w3-container a{
  padding: 2em;
}

.dropbtn {
 
    align-self: flex-start;
    background: url(../../images/Transparent.png) no-repeat center center fixed;
    background-size: cover;
    color: ivory;
    padding: 1em;
    font-size: 16px;
    border: 2px solid ivory;
    cursor: pointer;
  }
  .dropbtn:hover, .dropbtn:focus {
    background-color: #000000;
  }
  .dropdown {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: ivory;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
      background-color: #2b2e30;
    }
  .show {
      display:block;
    }